
!!! XML
!!!
%html
  %head
    %title Netmento
    %link(rel="stylesheet" href="http://yui.yahooapis.com/3.16.0/build/cssreset/cssreset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Netmento
        #user
          %a(href="profile") 
            Welcome 
            = env['REMOTE_USER']
        #nav
          %ol
            %a(href="/")
              %li Home
            %a(href="profile")
              %li Profile
            %a(href="network")
              %li Network
            %a(href="knowledgeArea")
              %li Knowledge Area
            %a(href="share")
              %li Share
      
      #content
        =yield

      #side_bar
        %h1 Side Bar
        %p
        This is the side bar of the webpage
     
      #footer
        %p
          This is the footer.