!!! XML
!!!
%html
  %head
    %title Netmento
    %link(rel="stylesheet" href="http://yui.yahooapis.com/3.16.0/build/cssreset/cssreset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
    %link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
  %body
    .container
      %form.form-signin(role="form" method="post")
        %h2.form-signin-heading Please sign in
        %input.form-control(type="text" placeholder="User" name="name" required autofocus)
        %input.form-control(type="password" placeholder="Password" name="password" required)
        -# TODO Add Google login
        -# TODO Add the remind me functionality
        -# %label.checkbox
        -#   %input(type="checkbox" value="remember-me" name="rememberMe") Remember me
        .btn-group
          %button.btn.btn-lg.btn-primary(type="submit") Sign in
          %button.btn.btn-lg(type="submit" onClick="this.form.action='register'") Register
