


%p Mentors are people your trust the knowledge and trust their advices.  It might be leaders in their area, but also people with similar interest than you.
%form(method="post")
  .input-group
    %input.form-control{:type=>:text, :name=>:name, :value=>params["name"]}
      %span.input-group-btn
        %button.btn.btn-default(type="submit") Search
-if found
  -if found.has_next?
    %h4 Do you want to trust :
    .list-group
      %form(method="post" action="trust")
        -found.each do |user| 
          %li.list-group-item
            %h5.list-group-item-heading 
              %a(href="/user/XXXXX")
                =user["name"]
              %button.btn.btn-default{:type=>:submit, :name=>:_id, :value=>user["_id"].to_s}
                Trust
  -else
    No user found.


%h4 Your current mentors are :
.list-group
  -trusted.each do |user| 
    %a.list-group-item(href="/user/XXXXX")
      %h5.list-group-item-heading
        =user["name"]
      .list-group-item-text Its major tags he is trusted for, and the level I trust him

%h4 You are the mentor of :
.list-group
  %a.list-group-item(href="/user/gscokart")
    %h5.list-group-item-heading Gilles Scokart
    .list-group-item-text Its major tags he is trusted for, and the level he trust you
