


%p Mentors are people your trust the knowledge and trust their advices.  It might be leaders in their area, but also people with similar interest than you.
%form(method="get")
  .input-group
    %input.form-control{:type=>:text, :name=>:name, :value=>params["name"]}
      %span.input-group-btn
        %button.btn.btn-default(type="submit") Search


%h4 Your current mentors are :
.list-group
  %a.list-group-item(href="/user/gscokart")
    %h5.list-group-item-heading Gilles Scokart
    .list-group-item-text Its major tags he is trusted for, and the level I trust him

%h4 You are the mentor of :
.list-group
  %a.list-group-item(href="/user/gscokart")
    %h5.list-group-item-heading Gilles Scokart
    .list-group-item-text Its major tags he is trusted for, and the level he trust you
